.back{
  position: absolute;
  width: 36px;
  height: 36px;
  z-index: 500;
}
h2{
  position: absolute;
  left: 47px;
  top: 74px;
}

input[type="submit"] {
  position: absolute;
  width: 281px;
  height: 46px;
  left: 48px;
  top: 530px;
}

a[type="login"]{
  position: absolute;
  width: 91px;
  height: 17px;
  left: 232px;
  top: 575px;

  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #A3A3A3;
}

.info{
  position: absolute;
  left: 48.07px;
  top: 129px;
  width: 276px;
  height: 27px;
}
#usernameholder{
  position: absolute;
  width: 276px;
  height: 31px;
  left: 0px;
  top: 0px;
}
input[type="text"]{
  position: absolute;
  width: 276px;
  height: 31px;
  left: 0px;
  top: 40px;
}
#passwordholder{
  position: absolute;
  width: 276px;
  height: 31px;
  left: 0px;
  top: 80px;
}
input[type="password"]{
 position: absolute;
 width: 276px;
 height: 31px;
 left: 0px;
 top: 40px;
}
#emailholder{
  position: absolute;
  width: 276px;
  height: 31px;
  left: 0px;
  top: 150px;
}
input[type="email"]{
 position: absolute;
 width: 276px;
 height: 31px;
 left: 0px;
 top: 40px;
}
